<ul *ngIf="paginas?.length>0" class="pagination my-4">
  <li class="page-item" *ngIf="paginator.number > 0">
    <a class="page-link" [routerLink]="['/profesor/listar/page', paginator.number-1]">&laquo;</a>
  </li>
  <li [ngClass]="paginator.first ? 'disabled page-item' : 'page-item'">
    <a class="page-link" [routerLink]="['/profesor/listar/page', 0]">Primera</a>
  </li>
  <li *ngFor="let pagina of paginas" class="page-item" [ngClass]="pagina-1 == paginator.number?'active':''">
    <span class="page-link" *ngIf="pagina-1 == paginator.number">{{ pagina }}</span>
    <a class="page-link" *ngIf="pagina-1 != paginator.number" [routerLink]="['/profesor/listar/page', pagina-1]">{{ pagina }}</a>
  </li>
  <li [ngClass]="paginator.last ? 'disabled page-item' : 'page-item'">
    <a class="page-link" [routerLink]="['/profesor/listar/page', paginator.totalPages-1]">Ultima</a>
  </li>
  <li class="page-item" *ngIf="paginator.number < paginator.totalPages-1">
    <a class="page-link" [routerLink]="['/profesor/listar/page', paginator.number+1]">&raquo;</a>
  </li>
</ul>
