<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>App Educativa</span>
    <span class="example-spacer"></span>
    <div *ngIf="!authService.isAuthenticated()">
      <button mat-raised-button color="accent" [routerLink]="['/login']">Iniciar sesión</button>
    </div>
    <div *ngIf="authService.isAuthenticated()">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="cerrarSesion()">Cerrar sesión</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
